.add-visit-container {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}

.add-visit-container hr {
  border: none; /* Remove default border */
  border-top: 1px solid #000; /* Add a solid border on top */
  margin: 20px 0; /* Add some margin above and below the line */
  width: 80%;
}

.add-visit-container label {
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.patient-specific,
.otp-specific {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.otp-specific input[type="text"] {
  margin-left: 30px;
  width: 36%;
}

.patient-specific,
.otp-specific,
.form-specific {
  margin-bottom: 20px;
}

.form-specific {
  margin-top: 20px;
}

.dropdown-select {
  margin-right: 10px;
  padding: 5px;
}

.OTP {
  margin-right: 10px;
  padding: 5px;
}

.visit-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.visit-grid-item:nth-child(odd) {
  /* background-color: #0056b3; */
  width: 60%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: right;

  /* order: 2; Moves odd-indexed items (column 1 content) to the right */
}

.visit-grid-item:nth-child(even) {
  margin-right: 300px;
  /* background-color: aqua; */
}

.visit-grid-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-visit-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  resize: vertical;
}

.add-visit-container button {
  padding: 10px 20px;
  width: 120px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-visit-container button:hover {
  background-color: #0056b3;
}

.submit-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
