.doctor-appointment-container {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-filter-slots {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  /* background-color: #007bff; */
}

.doctor-filter-slots label {
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Style for the dropdown container */
.doctor-dropdown-container {
  margin: 20px;
  /* background-color: #000; */
}

/* Style for the select element */
.doctor-dropdown-select,
.doctor-filter-date {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove default focus outline */
}

.doctor-filter-date {
  width: 150px;
}

/* Style for the options within the dropdown */
.doctor-dropdown-select option {
  padding: 10px;
}

/* Style for the selected option */
.doctor-dropdown-selected-option {
  margin-top: 10px;
}

.doctor-filter-search, 
.doctor-add-slot-btn {
  width: fit-content;
  height: fit-content;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}

.doctor-add-slot-btn{
  width: max-content;
}

.doctor-filter-search:hover, 
.doctor-add-slot-btn:hover {
  background-color: #0000ff;
  box-shadow: 0 0 4px #000000;
}

.doctor-slot-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #0056b3; */
  width: 100%;
  padding-top: 30px;
}

.doctor-slot-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  padding-right: 40px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.2s; 
}

.doctor-slot-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.doctor-short-list-item {
  display: flex;
  flex-direction: row;
  /* background-color: #0099ff; */
}

.doctor-slot-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #00ffff; */
}

.doctor-delete-slot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  /* background-color: #0056b3; */
}

.doctor-image img {
  max-width: 50%;
  height: auto;
}

.doctor-slot-info, 
.doctor-slot-time, 
.doctor-patient-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* background-color: #0000ff; */
}

.doctor-patient-info {
  justify-content: space-around;
}

.doctor-show-hide {
  width: fit-content;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 0.85em;
  color: blue;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.doctor-show-hide:hover {
  text-decoration-line: underline;
}

.doctor-delete-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.doctor-delete-slot button {
  background-color: #fff;
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.doctor-delete-slot button:hover {
  box-shadow: 0 0 8px #999;
  color: #fff;
  background-color: red;
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Popup container */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

/* Popup title */
.popup h2 {
  margin-top: 0;
}

/* Popup content */
.popup p, .popup label, .popup-date-time {
  margin-bottom: 10px;
}

.popup input{
  width: 150px;
  justify-self: center;
}

/* Popup buttons */
.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.popup button:hover {
  background-color: #0056b3;
}

.popup-date-time label {
  display: block;
}

.popup-date-time input[type="date"],
.popup-date-time input[type="time"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

